@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@mixin item($item) {
  &-#{$item} {
      @content;
  }
}
@mixin elemento($element) {
  &__#{$element} {
      @content;
  }
}

@mixin modificar($modifier) {
  &_#{$modifier} {
      @content;
  }
}

@mixin zoom {
  transform: scale(0.99);
  transition: .3s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

@mixin  card-color($primary, $secundary) {
  .card-header {
    color: $primary;
  }

  .card-body {
    color: $primary;
    background-color: $secundary;

    @include media-breakpoint-only(md) {
      border-bottom: 1px solid $secundary;
    }
  }

  .card-link {
    color: $primary;
  }

  .card-item + .card-item {
      border-top: 1px solid $secundary;
  }

  .card-download {
    @extend .card-link;
    font-size: .85rem;
    & > span,
    & + .card-download {
      margin-left: 0;
    }
  }
}
