@mixin item($item) {
  &-#{$item} {
      @content;
  }
}
@mixin elemento($element) {
  &__#{$element} {
      @content;
  }
}

@mixin modificar($modifier) {
  &_#{$modifier} {
      @content;
  }
}

@mixin zoom {
  transform: scale(0.99);
  transition: .3s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

