$dark-color: #212529;
$dark-color-bg: #272B2F;
$light-text: #fff;
body.contrast-enabled {
  background-color: $dark-color;
  background-image: none;
  color: $light-text;


  .topo,
  .cards-content,
  main.wrapper.main-content {
    background-color: $dark-color;
  }

  .version a.btn,
  .aside-logo-description,
  .header-title,
  .card-header,
  .card-link,
  .card-item,
  .card-item:nth-child(1),
  .card-body span {
    color: $light-text!important;
  }

  .card-icon {
    filter: sepia(1);
  }

  .contrast .slider,
  #header,
  .card-body {
    background-color: $dark-color-bg!important;
  }

  .contrast .slider {
    &::before {
      background-color: $whatsapp;
    }
  }

  .header-subtitle {
    color: #A2A2A2;
  }

  .aside {

    &-description {
      color: $light-text;
    }

    &-whatsapp {
      background-color: $dark-color-bg;

      &-text {
        color: $light-text;
      }
    }
  }

  .btn-whatsapp {
    background-color: $dark-color;
    color: $whatsapp;
    border-color: $dark-color-bg;
  }

}
