.main {
  &-content {
    background-color: #fff;
    border-radius: 20px;

    @include media-breakpoint-up(xs){
      margin-top: 0;
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md){
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  &-line {
    @include make-row();
  }
}
