$font-geral: 'KumbhSans-Regular', sans-serif;
$font-geral-bold: 'KumbhSans-Bold', sans-serif;
$font-geral-italic: 'RobotoItalic', sans-serif;
$font-geral-light: 'KumbhSans-Light', sans-serif;

$body-bg:#EBEBF7;
$primary: #333B6A;
$text-color: #6B6B6B;
$title-color: #484848;
$vermelho: #EC5865;
$roxo: #6B4F9D;
$laranja: #F6A31C;
$bg-block: #fff;
$info: #5ADBFF;

$border-color: rgba(0, 0, 0, 0.125);
