/* global.scss */
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";

@import "variables";
@import "wrapper";

body {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  color: $text-color;

  @include media-breakpoint-up(md) {
    background-color: $body-bg;
    background-image: url('../imagens/bg-bottom-left@2x.png'), url('../imagens/bg-top-right@2x.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left 105%,  right top;
    background-size: 450px;
  }
}

