/* global.scss */
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";

@import "variables";
@import "wrapper";

body {
  font-family: $font;
  color: $text-color;
  background-color: $body-bg;
  -webkit-font-smoothing: antialiased;
  background-image: url('../imagens/bg-bottom-left@2x.png'), url('../imagens/bg-top-right@2x.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom,  right top;
  background-size: 450px;
}

