/* styles.scss */

@import "variables";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$theme-colors: map-remove($theme-colors, "primary", "secondary", "success", "danger", "warning", "info", "light", "dark");

$theme-colors: (
  "whatsapp": $whatsapp,
);

$link-color: theme-color('verde-claro');




@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/buttons";

@import "mixins/mixins";
@import "wrapper";

@import "dia-d/fonts";
@import "dia-d/main";
@import "dia-d/aside";
@import "dia-d/content";
@import "dia-d/cards";
@import "dia-d/contraste";



